//Colors
$color-1:#1C1C1C;
$color-2:#FFFFFF;
$color-3:#6696E2;
$color-4:#41D395;
$color-5:#86878B;
$color-6:#E27866;
$color-7:#00000029;
$color-8:#00000061;
$color-9:#333333;
$color-10:#F5F5F5;
$color-11:#D8D8D8;
$color-12:#000000;
$color-13:#212121;


@import "footer.scss";
@import "section-2.scss";
@import "logo.scss";
@import "whiteandblack.scss";
@import "pricing.scss";
@import "chat.scss";
@import "forma.scss"